html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  max-width:1000px;
  margin:25px auto;
}


a {
  font-weight: normal;
  text-decoration: none; 
  color:#EF6D3D;
}
a:focus {
  outline: thin dotted;
}

small {
  font-size: 75%;
}

h2 {
  margin-top: 10px;
}

q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 2px solid #AFC0D2;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;  
}



html, #container, .inner { 
  background-color:transparent;
}

footer { 
  background: rgba(0,0,0,.8); 
  padding:55px;
  color:#FFFFFF; 
}

header, #content {
  background: rgba(0,0,0,.8); 
  padding:25px;
  color:#FFFFFF;
}
header{
  font-family: "Georgia", serif;
}

iframe {
  max-width:100%;
}

/* Menu Links */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#cfd2da;
}
ul.main-menu li a:hover {
  color:#FFFFFF;
}
ul.main-menu li a.active {
  color:#FFFFFF;
  border-bottom-color:#EF6D3D;
}

/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}

#article{
  background-color: #f8f9fa;
  color: black;
  position: relative;
  max-height: 70vh;
  overflow: scroll;
}

#articleName{
  font-size: 1.8em;
  position: relative;
  font-family: "Georgia", serif;
}

#articleContents {
  display: bloc;
  line-height: 1.625;
  font: "sans-serif";
  
}

#article {
  padding: 10px 20px ;
}

#guessForm {
  margin: 20px
}