html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: sans-serif;
  color: #FFFFFF;
  max-width:1000px;
  margin:25px auto;
}


a {
  font-weight: normal;
  text-decoration: none;
  color:#EF6D3D;
}
a:focus {
  outline: thin dotted;
}

small {
  font-size: 75%;
}

q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 2px solid #AFC0D2;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}



html, #container, .inner {
  background-color:transparent;
}

footer {
  background: rgba(0,0,0,.8);
  padding:55px;
  color:#FFFFFF;
}

header, #content {
  background: rgba(0,0,0,.8);
  padding: 10px 25px;
  color:#FFFFFF;
}
header{
  font-family: "Georgia", serif;
}

iframe {
  max-width:100%;
}

/* Menu Links */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#cfd2da;
}
ul.main-menu li a:hover {
  color:#FFFFFF;
}
ul.main-menu li a.active {
  color:#FFFFFF;
  border-bottom-color:#EF6D3D;
}

/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}

#article{
  background-color: #f8f9fa;
  color: black;
  position: relative;
  max-height: 70vh;
  overflow: scroll;
}

#articleContents {
        background-color: black;
        display: inline;
        line-height: 1.3em;
        user-select: none;
}

#article {
  padding: 10px 20px ;
}

#guessForm {
  margin: 20px;
  font-size:larger

}

.guess {
        background-color: white;
        display: inline-block;
}

#submitButton {
        font-family: 'Source Serif 4',serif;
        background-color: rgb(133, 129, 129);
        color: white;
        border: none;
        cursor: pointer;
}

#articleContents > :is(h1, h2, h3, h4, h5, h6) {
        line-height: initial;
        background-color: black;
        width: fit-content;
}

label, #articleContents :is(h1, h2) {
        font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
        font-weight: 400;
        padding-bottom: 0.3em;
        border-bottom: 1px solid black;
}

h3, h4, h5, h6 {
        font-weight: 700;
}

:is(h1, h2, h3, h4, h5, h6) + br {
        display: none;
}

#winPopup {
        display: none;
        position: fixed;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000d;
        padding: 20px;
}

#winPopup h2 {
        text-align: center;
}

#winPopup button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #0000;
        border: none;
        color: white;
        cursor: pointer;
}

p {
  margin: 0px;
  padding-left: 20px;
  font-size: large;
}
